.activity-info-container {
    width: 100%;
    background-color: white;
}

.activity-info-header {
    margin-bottom: 1vw;
}

.activity-info-gap {
    height: 2vw;
}

.activity-info-header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 9vw;
    gap: 1.5vw;
}

.activity-info-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.activity-info-home {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.activity-info-home-icon {
    font-size: .9vw;
    font-family: 'Poppins', sans-serif;
    color: #0d216f;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-right: 1cm;
    margin-left: 10px;
}

.location-details li {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
}

.activity-info-iframe-container {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
}

.activity-info-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 50vw;
    border: 0;
}

.activity-info-home-icon-icon {
    margin-right: 5px;
}

.activity-info-separator {
    margin: 0 10px;
}

.activity-info-item {
    margin-top: .5vw;
    display: flex;
    align-items: center;
    gap: 10px;
}

.activity-info-icon {
    width: 2.5vw;
    height: 2.5vw;
    background-color: #0d216f;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    border-radius: 5px;
    margin-right: 5px;
    color: white;
}

.activity-info-icon svg {
    font-size: 1vw !important;
}

.activity-info-icon-text {
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
    color: #6b7289;
}

.activity-info-actions {
    display: flex;
    align-items: center;
    gap: 1cm;
}

.activity-info-share {
    margin-right: 1vw;
    background-color: #677EAB;
    color: white;
}

.activity-info-action-btn {
    background-color: #677EAB;
    color: white;
    border: none;
    width: 7vw;
    padding: .6vw 3vw;
    border-radius: 1vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 200px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
}

.activity-info-content {
    display: flex;
    justify-content: space-between;
    padding: 0 9vw;
    gap: 5vw;
}

.activity-info-left-section {
    width: 68%;
}

.activity-info-left-section h2,
.activity-info-left-section h3 {
    margin: 0;
    padding: 0;
}

.activity-info-heading {
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;
}

.activity-info-image {
    width: 48vw;
    height: 25vw;
    border-radius: .5vw;
    object-fit: cover;
    margin-bottom: .5vw;
}

.activity-info-heading-title {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1cm;
}

.activity-info-main-image {
    height: 50vw;
}

.activity-info-description {
    max-width: 50vw;
    width: 100%;
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2vw;
    color: #333;
    text-align: justify;
}

.activity-info-heading-location {
    font-size: 1.2vw;
    color: #333;
    font-family: 'Poppins', sans-serif;

}

.activity-info-location {
    margin-top: 1cm;
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
    color: #545454;

}

.activity-info-right-section {
    width: 44%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.gSsNhj {
    margin-left: 0px;
}


.activity-info-provider-heading {
    font-size: 1.4vw;
    font-family: 'Poppins', sans-serif;
    color: #1F4EA3;
    margin-left: 2vw;

}

.activity-info-provider-details {
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
    color: #1F4EA3;
    text-align: left;
    margin-bottom: 0.5cm;
    margin-left: 2vw;
}

.activity-info-provider-image {
    width: 12vw;
    height: 13vw;
    border-radius: 5px;
    object-fit: cover;
    margin-left: 2vw;

}

.activity-info-trainers-heading {
    font-size: 1.4vw;
    margin-bottom: 0.5cm;
    font-family: 'Poppins', sans-serif;
    margin-left: 2vw;

}

.activity-info-trainers {
    display: flex;
    width: 100%;
    margin-left: 1.5vw;

}

.activity-info-trainer-image {
    width: 3.5vw;
    height: 3.5vw;
    margin-left: 20px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 4.0cm;
}

@media (max-width: 1080px) {
    .activity-info-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 1500px) {
    .activity-info-provider-heading {
        margin-top: 2vw;
        font-size: 1.4vw;
        font-family: 'Poppins', sans-serif;
        color: #1F4EA3;
        margin-left: 2vw;

    }

    .activity-info-main-image {
        height: 55vw;
    }
}

/* Media Query for max-width 768px */
@media (max-width: 768px) {
    .activity-info-header {
        height: 1.5cm;
        font-size: 1.2rem;
    }

    .activity-info-header-content,
    .activity-info-content {
        padding: 0 1.5cm;
        flex-direction: column;
        align-items: flex-start;
    }

    .activity-info-actions {
        gap: 0.5cm;
    }

    .activity-info-left-section .activity-info-image {
        height: 10cm;
    }

    .activity-info-right-section {
        width: 100%;
    }

    .activity-info-right-section .activity-info-main-image {
        height: 14cm;
        margin-bottom: 7cm;
    }

    .activity-info-provider-heading,
    .activity-info-provider-details,
    .activity-info-trainers-heading {
        font-size: 1.2rem;
    }

    .activity-info-provider-image {
        width: 4cm;
        height: 4cm;
    }

    .activity-info-trainers .activity-info-trainer-image {
        width: 2cm;
        height: 2cm;
    }
}

/* Media Query for max-width 480px */
@media (max-width: 480px) {
    .activity-info-header {
        height: 1.2cm;
        font-size: 1rem;
    }

    .location-details li {
        list-style: none;
        display: flex;
        gap: 10px;
    }

    .location-details li a {
        list-style: none;
        display: flex;
        font-size: 13px;
        gap: 10px;
    }

    .activity-info-header-content,
    .activity-info-content {
        padding: 0 1cm;
        width: 100%;
    }

    .activity-info-home-icon {
        font-size: 12px;

    }

    .activity-info-action-btn {
        width: 2cm;
        font-size: 1rem;
    }

    .activity-info-home {
        width: 100%;
        margin-bottom: 10px;
    }

    .activity-info-icon {
        width: 30px;
        height: 30px;
        font-size: 14px;

    }

    .activity-info-icon-text {
        font-size: 14px;
    }

    .activity-info-gap {
        height: 10px;
    }

    .activity-info-header-content,
    .activity-info-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .activity-info-left-section .activity-info-heading {
        font-size: 1.5rem;
        margin-bottom: 0.5cm;
    }

    .activity-info-left-section .activity-info-image {
        height: 8cm;
    }

    .activity-info-location-image {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .activity-info-description {
        width: 100%;
        margin-bottom: 20px;
        font-size: 1rem;
    }

    .activity-info-right-section .activity-info-main-image {
        width: 100%;
        height: 14cm;
        margin-bottom: 3cm;

    }

    .activity-info-provider-heading,
    .activity-info-provider-details,
    .activity-info-trainers-heading {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .activity-info-provider-image {
        width: 3cm;
        height: 3cm;
    }

    .activity-info-trainers .activity-info-trainer-image {
        width: 1cm;
        height: 1cm;
    }
}

/* Media Query for min-width 1800px */
@media (min-width: 1980px) {
    .activity-info-home-icon {
        font-size: 20px;
    }

    .activity-info-header-content,
    .activity-info-content {
        padding: 0 5%;
    }

    .activity-info-icon {
        width: 55px;
        height: 55px;

    }

    .activity-info-icon-text {
        font-size: 25px;
        font-family: 'Poppins', sans-serif;
        color: #6b7289;
    }

    .activity-info-actions {
        display: flex;
        align-items: center;
        gap: 1cm;
    }

    .activity-info-share {
        margin-right: 10px;
        background-color: #677EAB;
        color: white;
    }

    .activity-info-action-btn {
        background-color: #677EAB;
        width: 5cm;
        padding: 10px 40px;
        border-radius: 23px;
        font-weight: 200px;
        font-size: 25px;

    }

    .activity-info-header-content,
    .activity-info-content {
        padding: 0 4cm;
    }

    .activity-info-left-section {
        width: 70%;
    }

    .activity-info-right-section {
        width: 30%;
    }

    .activity-info-heading {
        font-size: 3rem;
    }

    .activity-info-image {
        width: 28cm;
        height: 16cm;
    }

    .activity-info-description {
        font-size: 1.8rem;
        max-width: 28cm;
    }

    .activity-info-main-image {
        width: 11cm;
        height: 24cm;
    }

    .activity-info-provider-heading,
    .activity-info-provider-details,
    .activity-info-trainers-heading {
        font-size: 1.8rem;
    }

    .activity-info-provider-image {
        width: 8cm;
        height: 8cm;
    }

    .activity-info-trainer-image {
        width: 2.5cm;
        height: 2.5cm;
    }
}

/* Media Query for min-width 2000px */
@media (min-width: 2000px) {

    .activity-info-header-content,
    .activity-info-content {
        padding: 0 5cm;
    }

    .activity-info-heading {
        font-size: 3.2rem;
    }

    .activity-info-image {
        width: 28cm;
        height: 18cm;
    }

    .activity-info-description {
        font-size: 2rem;
        min-width: 28cm;
    }

    .activity-info-main-image {
        width: 12cm;
        height: 26cm;
    }

    .activity-info-provider-heading,
    .activity-info-provider-details,
    .activity-info-trainers-heading {
        font-size: 2rem;
    }

    .activity-info-provider-image {
        width: 14cm;
        height: 14cm;
    }

    .activity-info-trainer-image {
        width: 3cm;
        height: 3cm;
    }
}

/* Media Query for min-width 2500px */
@media (min-width: 2500px) {
    .activity-info-home-icon {
        font-size: 20px;
    }

    .activity-info-header-content,
    .activity-info-content {
        padding: 0 8vw;
    }

    .activity-info-icon {
        width: 55px;
        height: 55px;

    }

    .activity-info-icon-text {
        font-size: 25px;
        font-family: 'Poppins', sans-serif;
        color: #6b7289;
    }

    .activity-info-actions {
        display: flex;
        align-items: center;
        gap: 1cm;
    }

    .activity-info-share {
        margin-right: 10px;
        background-color: #677EAB;
        color: white;
    }

    .activity-info-action-btn {
        background-color: #677EAB;
        width: 5cm;
        padding: 10px 40px;
        border-radius: 23px;
        font-weight: 200px;
        font-size: 25px;

    }

    .activity-info-heading {
        font-size: 3.5rem;
    }

    .activity-info-image {
        width: 55vw;
        height: 20cm;
    }

    .activity-info-description {
        font-size: 2rem;
        min-width: 55vw;
    }

    .activity-info-main-image {
        width: 14cm;
        height: 28cm;
        margin-bottom: 2%;
    }

    .activity-info-provider-heading,
    .activity-info-provider-details,
    .activity-info-trainers-heading {
        font-size: 2.2rem;
    }

    .activity-info-provider-image {
        width: 10cm;
        height: 10cm;
    }

    .activity-info-iframe-container iframe {
        width: 55vw;
    }

    .activity-info-trainer-image {
        width: 3.5cm;
        height: 3.5cm;
    }
}