* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card-container {
  float: left;
  display: flex;
  flex-wrap: wrap;
  /* background-color: blue; */
  width: 70%;
}


.activity-icons-container img {
  width: 100%;
  margin-bottom: 50px;
}

.activity-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #ccc;
  margin-left: 8.5%;
  /* margin-top: 17px; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 97%;
  cursor: pointer;
}

.activity-card-in {
  padding: 20px 0 0 20px;
}

.activity-image {
  position: relative;
  width: 33%;
  height: auto;
  overflow: hidden;
}

.activity-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  align-items: center;
}

.info-image {
  flex-shrink: 0;
  width: 145px;
  height: 145px;
  margin-right: 12px;
  /* border: #000000 2px solid; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}


.info-image img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  object-fit: cover;
}


.activity-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.activity-details p {
  display: flex;
  align-items: center;
}

.activity-details h3 {
  font-size: 1.7em;
  margin-bottom: 10px;
  margin-top: 2px;
}


.activity-detailss {
  flex: 1;
  margin-top: 10px;
  display: flex;
  padding: 20px 30px;
  flex-direction: column;
  justify-content: space-between;
}

.activity-detailss p {
  display: flex;
  align-items: center;
}

.activity-detailss h3 {
  font-size: 1.7em;
  margin-bottom: 10px;
  margin-top: 2px;
}

.location {
  color: #434343;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.age-group {
  background-color: #e7eaf1;
  padding: 5px 10px;
  border-radius: 15px;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 3px;
  font-size: small;
}


.activity-actions {
  display: flex;
  gap: 5px;
  /* Add this line */
  background-color: #E5E5E5;
  padding: 20px;
  margin-top: auto;
}

.info-with-img {
  display: flex;
}

.info-image {
  flex-shrink: 0;
  width: 145px;
  height: 145px;
  margin-right: 12px;
  /* border: #000000 2px solid; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}


.info-image img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  object-fit: cover;
}


.descp {
  flex-grow: 1;
  text-align: justify;
  padding-right: 20px;
  font-family: "Poppins", sans-serif;
}

.descp h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 650;
  font-style: normal;
  font-size: large;
}

.descp p {
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


/* promoted */


.promoted-card {
  width: 43%;
  text-align: left;
  margin-bottom: 2%;
  cursor: pointer;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.promoted-image {
  position: relative;
  width: 100%;
  height: 420px;
  overflow: hidden;
}

.promoted-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promoted-details {
  padding: 15px 0;
}

.promoted-details h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card1 {
  float: left;
  margin-left: 6%;

}

.card2 {
  float: right;
  margin-right: 6%;
}

.plocation {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: -3%;
}

/* banner */
.banner-container {
  width: 25%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* background-color: red; */
}

.card {
  margin-bottom: 20px;
  width: 335px;
}

.card img {
  width: 100%;
  height: 100%;
  object-position: cover;
}

.card:nth-child(1) {
  height: 606px;
}

.card:nth-child(2) {
  height: 291px;
  margin-bottom: 0%;
}

.more-btn {
  margin-left: 95px;
}

.more {
  /* margin-left: auto;  */
  background-color: #ffffff;
  border: none;
  color: #f25c2a !important;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: normal;
  letter-spacing: 0.5px;
  line-height: 1em;
  margin-top: 3% !important;
}


.activity-actions button {
  margin: 0 5px;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  justify-content: space-evenly;
}

.book-now,
.save,
.share {
  padding: 11px 15px;

}

.activity-actions button:hover {
  opacity: 0.8;
}



.activity-reviews {
  color: #383838;
  text-align: right;
  margin-top: auto;
  margin-right: 20px;
}

.review-text {
  font-size: 10px;
}

.info-row {
  display: flex;
  align-items: center;
}



.age-group {
  height: auto;
  background-color: #F2F1EB;
  margin-right: 20px;
  padding: none;
  border-radius: 0%;
}

.age-text {
  font-size: 11px;
  font-weight: 580;
  color: rgb(38, 38, 38);
  text-align: center;
}

.day-selector {
  margin-top: -1.5%;
  display: flex;
  border-radius: 0%;
}

.day-selector span {
  font-size: smaller;
  border-radius: 0%;
  margin: 0%;
  padding: 4% 9.5%;
}

.active {
  color: #f25c2a !important;
  background-color: #F2F1EB !important;
  font-weight: bold;
}

.pagination-container {
  display: grid;
  margin-left: 26%;
  width: 40%;
  /* background-color: red;  */
}


@media (max-width: 1300px) {
  .card-container {
    flex-direction: column;
    width: 80%;
    margin-left: 9%;
  }

  .activity-card {
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 20px;
    float: none;
  }

  .activity-image {
    width: 100%;
    height: 420px;
  }

  .activity-details {
    padding: 10px;
  }


  .promoted-container {
    margin-bottom: 20px;
    margin-right: 10px;
    width: 79%;
    margin-left: 9%;
  }

  .promoted-image {
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
  }

  .promoted-card {
    flex-direction: column;
    width: 97.8%;
    margin-bottom: 20px;
    float: none;
    margin-left: 15px !important;
    margin-right: 20px;
  }

  .card1,
  .card2 {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .banner-container {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 8%;
  }

  .card {
    margin-bottom: 10px;
    width: 80%;
  }

  .activity-reviews {
    margin-top: -10%;
  }

  .activity-actions {
    flex-direction: column;
    align-items: center;
  }

  .activity-actions button {
    width: 100%;
    margin: 5px 0;
  }

  .more {
    padding: 10px 100px;
    font-size: 9px;
    width: 100%;
  }

  .more-btn {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    margin-left: 0% !important;
  }

  .descp p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .plocation {
    margin-top: 4%;
  }

  .pagination-container {
    /* background-color: red;  */
    width: 90%;
  }

  .pagination-container .Pagination {
    width: 100%;
  }

  .info-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .info-row img {
    margin-top: 1px !important;
    width: 3% !important;
    height: 2% !important;
  }

  .age-group {
    margin-bottom: 20px;
  }

  .day-selector {
    margin-top: 2%;

  }

  .location {
    margin-top: -1% !important;
  }
}

@media (min-width: 1301px) and (max-width: 1460px) {
  .card-container {
    width: 70%;
    margin-left: 0%;
  }

  .activity-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 97%;
    cursor: pointer;
    height: 30%;
  }

  .activity-card-in {
    padding: 20px 0 0 10px;
  }

  .activity-image {
    position: relative;
    width: 33%;
    height: auto;
    overflow: hidden;
  }

  .activity-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    align-items: center;
  }

  .activity-details {
    padding: 10px;
  }

  .promoted-container {
    margin-right: 10px;
    width: 103%;
  }


  .promoted-card {
    width: 43%;
    text-align: left;
    margin-bottom: 2%;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }


  .promoted-image {
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
  }

  .promoted-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .promoted-details {
    padding: 15px 0;
  }

  .promoted-details h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .card1 {
    float: left;
    margin-left: 6%;

  }

  .card2 {
    float: right;
    margin-right: 6%;
  }

  .plocation {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  .banner-container {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 8%;
  }


  .banner-container {
    /* float: right; */
    width: 28%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* background-color: red; */
  }

  .card {
    margin-bottom: 20px;
    width: 340px;
  }

  .card img {
    width: 100%;
    height: 100%;
    object-position: cover;
  }

  .card:nth-child(1) {
    height: 1050px;
  }

  .card:nth-child(2) {
    height: 500px;
    margin-bottom: 0%;
  }

  .activity-actions {
    flex-direction: column;
    align-items: center;
  }

  .activity-actions button {
    width: 100%;
  }

  .more {
    padding: 10px 100px;
    font-size: 9px;
    width: 100%;
  }

  .more-btn {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    margin-left: 0% !important;
  }

  .descp p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .plocation {
    margin-top: 4%;
  }

  .pagination-container {
    /* background-color: red;  */
    width: 90%;
  }

  .pagination-container .Pagination {
    width: 100%;
  }

  .activity-reviews {
    margin-top: -19%;
  }


  .info-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .age-group {
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .location {
    margin-top: -1% !important;
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  .card-container {
    flex-direction: column;
    width: 110%;
    margin-left: 1%;
  }

  .activity-card {
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 20px;
    float: none;
  }

  .activity-image {
    width: 100%;
    height: 420px;
  }

  .activity-details {
    padding: 5px;
  }


  .promoted-container {
    margin-bottom: 20px;
    margin-right: 10px;
    width: 110%;
    margin-left: 1%;
  }

  .promoted-image {
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
  }

  .promoted-card {
    flex-direction: column;
    width: 97.8%;
    margin-bottom: 20px;
    float: none;
    margin-left: 5px !important;
    margin-right: 20px;
  }

  .card1,
  .card2 {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .banner-container {
    width: 110%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2%;
  }

  .card {
    margin-bottom: 10px;
    width: 80%;
  }

  .activity-actions {
    flex-direction: column;
    align-items: center;
  }

  .activity-actions button {
    width: 100%;
    margin: 5px 0;
  }

  .more {
    padding: 10px 100px;
    font-size: 9px;
    width: 100%;
  }

  .more-btn {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    margin-left: 0% !important;
  }

  .descp p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .plocation {
    margin-top: 4%;
  }

  .pagination-container {
    /* background-color: red;  */
    width: 80%;
  }

  .pagination-container .Pagination {
    width: 100%;
  }

  .activity-reviews {
    margin-top: -30%;
  }

  .info-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .info-row img {
    width: 10% !important;
    height: auto !important;
  }

  .age-group {
    margin-bottom: 20px;
  }

  .location {
    margin-top: -1% !important;
  }
}

@media (min-width: 500px) and (max-width: 1100px) {
  .info-row img {
    width: 15% !important;
    height: auto !important;
  }

  .descp p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .pagination-container .Pagination {
    width: 95%;
  }

  .day-selector span {
    font-size: xx-small;
    border-radius: 0%;

  }

  .info-image {
    margin-right: 5px !important;
  }

  .activity-reviews {
    margin-right: 5px;
  }
}