* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card-container {
  float: left;
  display: flex;
  flex-wrap: wrap;
  /* background-color: blue; */
  width: 70%;
}

.activity-reviewss {
  margin-top: 10%;
}

.activity-icons-container img {
  width: 100%;
  margin-bottom: 50px;
}

.activity-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #ccc;
  margin-left: 8.5%;
  /* margin-top: 17px; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 97%;
  border-radius: 5px;
  cursor: pointer;
}

.activity-card-in {
  padding: 20px 0 0 20px;
}

.activity-image {
  position: relative;
  width: 33%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: auto;
  overflow: hidden;
}

.activity-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  align-items: center;
}

.info-image {
  flex-shrink: 0;
  width: 145px;
  height: 145px;
  margin-right: 12px;
  /* border: #000000 2px solid; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}


.info-image img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  object-fit: cover;
}


.activity-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.activity-details p {
  display: flex;
  align-items: center;
}

.activity-details h3 {
  font-size: 1.7em;
  margin-bottom: 10px;
  margin-top: 2px;
}


.activity-detailss {
  flex: 1;
  margin-top: 10px;
  display: flex;
  padding: 20px 30px;
  flex-direction: row;
  justify-content: space-between;
}

.activity-detailss p {
  display: flex;
  align-items: center;
}

.activity-detailss h3 {
  font-size: 1.7em;
  margin-bottom: 10px;
  margin-top: 2px;
}

.location {
  color: #434343;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.age-group {
  background-color: #e7eaf1;
  padding: 5px 10px;
  border-radius: 15px;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 3px;
  font-size: small;
}


.activity-actions {
  display: flex;
  gap: 5px;
  /* Add this line */
  background-color: #E5E5E5;
  padding: 20px;
  margin-top: auto;
}

.info-with-img {
  display: flex;
}

.info-image {
  flex-shrink: 0;
  width: 145px;
  height: 145px;
  margin-right: 12px;
  /* border: #000000 2px solid; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}


.info-image img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  object-fit: cover;
}


.descp {
  flex-grow: 1;
  text-align: justify;
  padding-right: 20px;
  font-family: "Poppins", sans-serif;
}

.descp h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 650;
  font-style: normal;
  font-size: large;
}

.descp p {
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


/* promoted */


.promoted-card {
  width: 43%;
  text-align: left;
  margin-bottom: 2%;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.gapss {
  height: 120px;
}

.promoted-image {
  position: relative;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 420px;
  overflow: hidden;
}

.promoted-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promoted-details {
  padding: 15px 0;
}

.promoted-details h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card1 {
  float: left;
  margin-left: 6%;

}

.card2 {
  float: right;
  margin-right: 6%;
}

.plocation {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: -3%;
}

/* banner */
.banner-container {
  width: 25%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* background-color: red; */
}

.card {
  margin-bottom: 20px;
  width: 335px;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-position: cover;
}

.card:nth-child(1) {
  height: 606px;
  border-radius: 5px;
}

.card:nth-child(2) {
  height: 300px;
  margin-bottom: 0%;
}

.more-btn {
  margin-left: 95px;
}

.more {
  /* margin-left: auto;  */
  background-color: #ffffff;
  border: none;
  color: #f25c2a !important;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: normal;
  letter-spacing: 0.5px;
  line-height: 1em;
  margin-top: 3% !important;
}


.activity-actions button {
  margin: 0 5px;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  justify-content: space-evenly;
}

.book-now,
.save,
.share {
  padding: 11px 15px;

}

.activity-actions button:hover {
  opacity: 0.8;
}



.activity-reviews {
  color: #383838;
  text-align: right;
  margin-top: auto;
  margin-right: 20px;
}

.review-text {
  font-size: 10px;
}

.info-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.age-group {
  height: auto;
  background-color: #F2F1EB;
  margin-right: 20px;
  padding: none;
  border-radius: 0%;
}

.age-text {
  font-size: 11px;
  font-weight: 580;
  color: rgb(38, 38, 38);
  text-align: center;
}

.day-selector {
  margin-top: -1.5%;
  display: flex;
  border-radius: 0%;
}

.day-selector span {
  font-size: smaller;
  border-radius: 0%;
  margin: 0%;
  padding: 4% 9.5%;
}

.active {
  color: #f25c2a !important;
  background-color: #F2F1EB !important;
  font-weight: bold;
}

.pagination-container {
  display: grid;
  margin: 1% 0% 0% 0%;
  /* Centers the container */
  width: 90%;
  /* 90% of the screen width */
  height: 10%;
  /* 10% of the screen height */
  align-items: center;
  /* Vertically centers the pagination */
  background-color: #f6ffef;
  /* Light background similar to the image */
  border-radius: 12px;
  /* Rounded container corners */
}

@media (min-width:1700px) and (max-width:1750px) {

  .banner-container {
    width: 25%;
  }

  .card:nth-child(1) img {
    height: 628px;
  }

  .activity-card:nth-child(1) {
    margin-bottom: 1%;
  }

  .card:nth-child(2) img {
    margin-top: 28px;
    height: 315px;
    background-color: #383838;
  }
}


@media (max-width:1700px) {
  .activity-actions button {
    font-size: 10px;
  }

  .banner-container {
    width: 24%;
    padding: 0 0px;
  }

  .card:nth-child(1) {
    height: 649px;
    width: 100%;

  }

  .gapss {
    height: 4cm;
  }

  .card:nth-child(2) {
    height: 315px;
    width: 100%;
    margin-bottom: 0%;
  }

  .pagination-container {
    width: 100%;
    margin: 0 3%;
  }

  .activity-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 87%;
    margin-bottom: 20px;
    cursor: pointer;
    height: auto;
  }



}

@media (max-width: 1300px) {
  .card-container {
    flex-direction: column;
    width: 60%;
    margin-left: 20%;

  }

  .activity-card {
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 100%;
    float: none;
  }

  .activity-image {
    width: 100%;
    height: 420px;
  }

  .activity-details {
    padding: 10px;
  }

  .card:nth-child(1) {
    height: 1100px;
    width: 100%;

  }

  .card:nth-child(2) {
    height: 567px;
    width: 100%;
    margin-bottom: 0%;
  }

  .promoted-container {
    margin-bottom: 20px;
    margin-right: 20%;
    width: 60%;
    margin-left: 20%;
  }

  .promoted-image {
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
  }

  .promoted-card {
    flex-direction: column;
    width: 97.8%;
    margin-bottom: 20px;
    float: none;
    margin-left: 15px !important;
    margin-right: 20px;
  }

  .card1,
  .card2 {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .banner-container {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20%;
  }

  .card {
    margin-bottom: 10px;
    width: 100%;
  }

  .activity-reviews {
    margin-top: 20px;
  }

  .activity-actions {
    flex-direction: row;
    align-items: center;
  }

  .activity-actions button {
    padding: 10px 20px;
    margin: 5px 0;
  }

  .more {
    padding: 10px 100px;
    font-size: 9px;
    width: 100%;
  }

  .day-selector {
    width: 80px
  }

  .more-btn {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    margin-left: 17% !important;
  }

  .descp p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .plocation {
    margin-top: 4%;
  }

  .pagination-container {
    /* background-color: red;  */
    width: 90%;
  }

  .pagination-container .Pagination {
    width: 100%;
  }

  .info-row {
    flex-direction: row;
    align-items: flex-start;
  }

  .info-row img {
    margin-top: 1px !important;
    width: 40px !important;
    height: 40px !important;
  }

  .age-group {
    margin-bottom: 20px;
  }

  .day-selector {
    margin-top: 2%;

  }

  .location {
    margin-top: -1% !important;
  }
}

@media (min-width: 1460px) and (max-width: 1505px) {
  .card:nth-child(1) {
    height: 670px;
    width: 100%;

  }

  .gapss {
    height: 160px;
  }

  .card:nth-child(2) {
    height: 330px;
    width: 100%;
    margin-bottom: 0%;
  }

}

@media (min-width: 1301px) and (max-width: 1460px) {
  .card-container {
    width: 67.5%;
    margin-left: 0%;
  }

  .gapss {
    height: 120px;
  }

  .promoted-image img {
    height: 800px;
  }

  .activity-details {
    padding: 10px;
  }

  .activity-reviewss {
    margin-left: -5% !important;
  }



  .promoted-container {
    margin-right: 0;
    width: 100%;
  }


  .promoted-card {
    width: 43.5%;
    text-align: left;
    margin-bottom: 2%;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }


  .promoted-image {
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
  }

  .promoted-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .promoted-details {
    padding: 15px 0;
  }

  .promoted-details h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .card1 {
    float: left;
    margin-left: 6%;

  }

  .card2 {
    float: right;
    margin-right: 6%;
  }

  .plocation {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 2%;
  }

  .banner-container {

    width: 28%;
    padding: 0 20px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

  }

  .card {
    margin-bottom: 20px;
    width: 100%;
  }


  .card:nth-child(1) {
    height: 685px;
    width: 100%;

  }

  .card:nth-child(2) {
    height: 360px;
    width: 100%;
    margin-bottom: 0%;
  }

  .activity-actions {
    flex-direction: row;
    align-items: center;
  }

  .activity-actions button.save,
  .activity-actions button.share,
  .activity-actions button.book-now {
    width: 20%;
    padding: 5px;
  }

  .more {
    padding: 5px 10px;
    font-size: 8px;
    width: 80%;

  }

  .more-btn {
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    margin-left: 3% !important;
  }

  .descp p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }


  .pagination-container {

    width: 90%;
  }

  .pagination-container .Pagination {
    width: 100%;
  }

  .info-row {
    display: flex;
    align-items: center;
    margin-top: 4%;
  }

  .info-image {
    margin-right: 10px !important;
  }

  .age-group {
    height: auto;
    background-color: #F2F1EB;
    margin-right: 20px;
    padding: none;
    border-radius: 0%;
  }

  .age-text {
    font-size: 11px;
    font-weight: 580;
    color: rgb(38, 38, 38);
    text-align: center;
  }

  .day-selector {
    margin-top: -1.5%;
    display: flex;
    border-radius: 0%;
  }

  .day-selector span {
    font-size: smaller;
    border-radius: 0%;
    margin: 0%;
    padding: 4% 9.5%;
  }

  .location {
    margin-top: -1% !important;
  }
}

@media (max-width: 700px) {
  .card-container {
    flex-direction: column;
    width: 90%;
    margin: 0 5%;

  }

  .card:nth-child(1) {
    height: 800px;
    width: 100%;

  }

  .card:nth-child(2) {
    height: 400px;
    width: 100%;
    margin-bottom: 0%;
  }

  .activity-card {
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 20px;
    float: none;
  }

  .activity-image {
    width: 100%;
    height: 420px;
  }

  .activity-details {
    padding: 5px;
  }


  .promoted-container {
    margin-bottom: 20px;
    margin-right: 10px;
    width: 90%;
    margin: 0 5%;
  }

  .promoted-image {
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
  }

  .promoted-card {
    flex-direction: column;
    width: 97.8%;
    margin-bottom: 20px;
    float: none;
    margin-left: 5px !important;
    margin-right: 20px;
  }

  .card1,
  .card2 {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .banner-container {
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
  }

  .card {
    margin-bottom: 10px;
    width: 80%;
  }

  .activity-actions {
    flex-direction: column;
    align-items: center;
  }

  .activity-actions button {
    width: 90%;
    margin: 3px 5%;
  }

  .more {
    padding: 10px 100px;
    font-size: 9px;
    width: 100%;
  }

  .more-btn {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-left: 0% !important;
  }

  .descp p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .plocation {
    margin-top: 4%;
  }

  .pagination-container {
    /* background-color: red;  */
    width: 80%;
  }

  .pagination-container .Pagination {
    width: 100%;
  }

  .activity-reviews {
    margin-top: -30%;
  }

  .info-row {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 5px;
  }

  .info-image {
    margin-right: 5px !important;
    margin-top: 80px !important;
    width: 110px !important;
    height: auto !important;

  }

  .day-selector {
    width: 30px;
    margin-bottom: 8px;
  }

  .info-row img {
    width: 20px !important;
    height: 20px !important;
    margin-top: 5px !important;
  }

  .age-group {
    font-size: 10px;
  }

  .location {
    margin-top: -1% !important;
  }
}

@media (min-width: 700px) and (max-width: 1100px) {
  .card-container {
    flex-direction: column;
    width: 80%;
    margin: 0 11%;
  }

  .card:nth-child(1) {
    height: 1100px;
    width: 100%;

  }

  .card:nth-child(2) {
    height: 600px;
    width: 100%;
    margin-bottom: 0%;
  }

  .activity-card {
    flex-direction: column;
    margin-left: 10px;
    width: 100%;
    margin-bottom: 20px;
    float: none;
  }

  .activity-image {
    width: 100%;
    height: 500px;
  }

  .activity-details {
    padding: 5px;
  }


  .promoted-container {
    margin-bottom: 20px;
    margin-right: 10px;
    width: 80%;
    margin: 0 11%;
  }

  .promoted-image {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }

  .promoted-card {
    flex-direction: column;
    width: 97.8%;
    margin-bottom: 20px;
    float: none;
    margin-left: 5px !important;
    margin-right: 20px;
  }

  .card1,
  .card2 {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .banner-container {
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 11%;
  }

  .day-selector {
    width: 35px;
  }

  .card {
    margin-bottom: 10px;
    width: 80%;
  }

  .activity-actions {
    flex-direction: row;
    align-items: center;
  }

  .activity-actions button {
    padding: 10px 10px;
    margin: 5px 0;
  }

  .more {
    padding: 10px 80px;
    font-size: 8px;
    width: 100%;
  }

  .more-btn {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    margin-left: 35% !important;
  }

  .descp p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .plocation {
    margin-top: 4%;
  }

  .pagination-container {
    /* background-color: red;  */
    width: 80%;
  }

  .pagination-container .Pagination {
    width: 100%;
  }

  .activity-reviews {
    margin-top: 10px;
  }

  .day-selector {
    margin: 10px;
    display: flex;
    border-radius: 0%;
  }

  .info-row img {
    margin-top: 1px !important;
    width: 30px !important;
    height: 30px !important;
  }


}


@media (min-width: 1750px) and (max-width: 2000px) {
  .more-btn {
    margin-left: 210px;
  }

  .activity-reviewss {
    margin-right: 20px;
  }

  .activity-card:nth-child(1) {
    margin-bottom: 1%;
  }

  .banner-container {
    /* float: right; */
    width: 24%;
    padding: 0 20px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* background-color: red; */
  }

  .card {
    margin-bottom: 20px;
    width: 400px;
  }

  .promoted-image {
    height: 550px;
  }

  .banner-container {
    width: 25%;
  }

  .card:nth-child(1) img {
    height: 645px;
  }

  .card:nth-child(2) img {
    margin-top: 40px;
    height: 310px;
    background-color: #383838;
  }

}


@media (min-width: 2001px) and (max-width: 2100px) {
  .more-btn {
    margin-left: 290px;
  }

  .activity-reviewss {
    margin-right: 20px;
  }

  .activity-card:nth-child(1) {
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .banner-container {
    /* float: right; */
    width: 24%;
    padding: 0 20px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* background-color: red; */
  }

  .card {
    margin-bottom: 20px;
    width: 450px;
  }

  .promoted-image {
    height: 650px;
  }

  .banner-container {
    width: 25%;
  }

  .gapss {
    height: 300px;
  }

  .card:nth-child(1) img {
    height: 644px;
  }

  .card:nth-child(2) img {
    margin-top: 40px;
    height: 310px;
    background-color: #383838;
  }

}

@media (min-width: 2560px) {
  .gapss {
    height: 370px;
  }

  .activity-card:nth-child(1) {
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .card:nth-child(1) img {
    margin-top: 4%;
    margin-left: -260px;
    width: 600px;
    height: 130%;
  }

  .card:nth-child(2) img {
    margin-top: 60%;
    height: 130%;
    margin-left: -260px;
    width: 600px;
  }

  .descp h3 {
    font-size: 2.2em;
    margin-bottom: 20px;
  }

  .descp p {
    font-size: 1.5em;
  }

  .review-text {
    font-size: 18px;
  }

  .star-rating {
    font-size: 1.5rem;
    margin-bottom: 10px;
    /* Adjust the size as needed */
  }


  .activity-actions button {
    font-size: 20px;
    padding: 5px 40px;
  }

  .age-text {
    font-size: 18px;
    font-weight: 580;

  }

  .promoted-image {
    height: 850px;
  }

  .day-selector span {
    font-size: 18px;

  }


}

@media (min-width: 2300px) and (max-width: 2560px) {
  .activity-card {
    height: 370px;
  }

  .gapss {
    height: 350px;
  }

  .descp h3 {
    font-size: 2.1em;
    margin-bottom: 20px;
  }

  .descp p {
    font-size: 1.3em;
  }

  .info-image {
    width: 180px;
    height: 180px;
  }

  .info-row img {
    width: auto !important;
    height: 40px !important;
  }

  .age-group span {
    font-size: 1.2em;
    width: 100px;
  }

  .day-selector {
    font-size: 1.2em;
    width: 130px;

  }

  .activity-card:nth-child(1) {
    margin-bottom: 1%;
  }

  .card {
    margin-bottom: 20px;
    width: 530px;
  }

  .promoted-image {
    height: 750px;
  }

  .card:nth-child(1) img {
    height: 754px;
  }

  .card:nth-child(2) img {
    margin-top: 150px;
    height: 370px;
    background-color: #383838;
  }

  .review-text {
    font-size: 18px;
  }

  .star-rating {
    font-size: 1.5rem;
    margin-bottom: 10px;
    /* Adjust the size as needed */
  }

  .activity-actions button {
    font-size: 16px;
    padding: 5px 40px;
  }

  .age-text {
    font-size: 18px;
    font-weight: 580;

  }

  .promoted-image {
    height: 750px;
  }

  .day-selector span {
    font-size: 18px;

  }
}

@media (min-width: 2100px) and (max-width: 2300px) {
  .more-btn {
    margin-left: 290px;
  }

  .activity-reviewss {
    margin-right: 20px;
  }

  .info-image {
    width: 170px;
    height: 170px;
  }

  .activity-card {
    height: 370px;
  }

  .descp h3 {
    font-size: 1.9em;
  }

  .descp p {
    font-size: 1em;
  }

  .info-row img {
    width: auto !important;
    height: 35px !important;
  }

  .age-group span {
    font-size: 1.2em;
    width: 100px;
  }

  .day-selector {
    font-size: 1.2em;
    width: 130px;

  }

  .activity-card:nth-child(1) {
    margin-bottom: 1%;
  }

  .banner-container {
    /* float: right; */
    width: 24%;
    padding: 0 20px !important;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
  }

  .card {
    margin-bottom: 20px;
    width: 490px;
  }

  .promoted-image {
    height: 750px;
  }

  .banner-container {
    width: 25%;
  }

  .gapss {
    height: 250px;
  }

  .card:nth-child(1) img {
    height: 754px;
  }

  .card:nth-child(2) img {
    margin-top: 150px;
    height: 370px;
    background-color: #383838;
  }
}


@media (max-width: 480px) {

  .card:nth-child(1) {
    height: 100%;
    width: 100%;

  }

  .card:nth-child(2) {
    height: 100%;
    width: 100%;
    margin-bottom: 0%;
  }

  .activity-card {
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 20px;
    float: none;
  }

  .activity-image {
    width: 100%;
    height: 420px;
  }

  .activity-details {
    padding: 5px;
  }


  .promoted-container {
    margin-bottom: 20px;
    margin-right: 10px;
    width: 90%;
    margin: 0 5%;
  }

  .promoted-image {
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
  }

  .promoted-card {
    flex-direction: column;
    width: 97.8%;
    margin-bottom: 20px;
    float: none;
    margin-left: 5px !important;
    margin-right: 20px;
  }

  .card1,
  .card2 {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .banner-container {
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
  }

  .card {
    margin-bottom: 10px;
    width: 80%;
  }

  .activity-actions {
    flex-direction: column;
    align-items: center;
  }

  .activity-actions button {
    width: 90%;
    margin: 3px 5%;
  }

  .more {
    padding: 10px 100px;
    font-size: 9px;
    width: 100%;
  }

  .more-btn {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-left: 0% !important;
  }

  .descp p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .plocation {
    margin-top: 4%;
  }

  .pagination-container {
    /* background-color: red;  */
    width: 80%;
  }

  .pagination-container .Pagination {
    width: 100%;
  }

  .activity-reviews {
    margin-top: -30%;
  }

  .info-row {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 5px;
  }

  .info-image {
    margin-right: 5px !important;
    margin-top: 100px !important;
    width: 110px !important;
    height: auto !important;

  }

  .day-selector {
    width: 20px;
    margin-bottom: 8px;
  }

  .descp h3 {
    font-weight: 650;
    font-size: 16px;
  }

  .info-row img {
    width: 15px !important;
    height: 15px !important;
    margin-top: 5px !important;
  }

  .age-group {
    font-size: 8px;
    padding: 2px;
    margin-right: 5px;
  }

  .location {
    margin-top: -1% !important;
  }
}