.attendee-body{
  padding: 3%;

}
.attendee-card {
  width: 90%;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0px auto;
  display: flex;
  gap: 20px;
  flex-direction: row;
}

 .back-button {
  background: none;
  border: none;
  color: #007bff;
  font-weight: 600;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 20px;
  text-decoration: none;
  position: relative;
}

 .back-button:hover {
  color: #007bff;
  background-color:transparent;
  text-shadow: 0 0 10px #007bff; /* Adds a blue glow */
  text-decoration: underline; /* Underline on hover */
}
.back-button:before {
  content: '<';
  text-decoration: none;
  margin-right: 5px;
}

 .step-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}

 .step-bar input[type="radio"] {
  appearance: none; /* Hide default radio button */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #E26936; /* Border color */
  outline: none;
  cursor: pointer;
  margin-left: -15px;
  margin-top: -0px;
  position: relative;
  z-index: 2;
}

 .step-bar input[type="radio"]:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background-color: #E26936; /* Green color for the checked state */
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

 .step-bar input[type="radio"]:checked {
  border: 2px solid #E26936; /* Green border for checked state */
}

 .step-bar label {
  margin-right: 10px;
  font-weight: bold;
}

.step-bar .progress {
  flex-grow: 1;
  height: 4px;
  background-color: #e0e0e0;
  position: relative;
  margin-right: 10px;
  border-radius: 2px; /* Optional: to match the border-radius of the progress-bar */
  z-index: 1;
}
 .step-bar .progress-bar {
  height: 100%;
  background-color: #E26936;
  border-radius: 2px 0 0 2px; /* Rounded corners on the left side */
}
.back-to-attendees {
  color: #0066cc;
  cursor: pointer;
  margin-bottom: 20px;
}

.progress-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.progress-step {
  flex: 1;
  text-align: center;
  font-weight: bold;
  color: #ccc;
  position: relative;
}

.progress-step.active {
  color: #0066cc;
}

.progress-step::after {
  content: '';
  height: 2px;
  background: #ccc;
  position: absolute;
  left: 50%;
  right: -50%;
  top: 50%;
  z-index: -1;
}

.progress-step:last-child::after {
  display: none;
}

.event-details {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  
}

.event-details .event-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-right: 15px;
}
.event-info{
  align-items: center;
  text-align: center;
}

.event-info h2 {
  font-size: 2em;
  margin: 0;
}

.event-info p {
  margin: 5px 0;
  color: #888;
}
.booking-detail h2{
  color:#cc0055 ;
  text-align: center;
  padding: 20px;
}
.event-date {
  display: flex;
  flex-direction: column; /* Aligns items vertically */
  align-items: center; /* Centers items horizontally */
  color: #0066cc;
  margin-top: 10px; /* Adds space above the date section */
}

.event-check {
  font-size: 18px;
  margin-right: 10px;
}

.booking-details,
.discount-code,
.total-cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.booking-details h3 {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.discount-code label,
.total-cost h3 {
  font-size: 16px;
}

.discount-code input {
  border: 2px solid #d38969;
  border-radius: 10px;
  padding: 5px;
  font-size: 14px;
  flex: 1;
  margin-right: 30px;
  margin-left: 30px;
}


.price {
  color: #0066cc;
  font-size: 16px;
}

.email-optin {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.email-optin input {
  margin-right: 10px;
}

.email-optin label {
  font-size: 14px;
  color: #888;
}

.terms {
  font-size: 12px;
  color: #888;
  margin-bottom: 20px;
}

.terms a {
  color: #0066cc;
  text-decoration: none;
}

.proceed-to-payment {
  background: #E26936;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}
@media (max-width:500px) {
  .attendee-card{
    flex-direction: column;
  }
  .booking-details{
    flex-direction: column;
    text-align: left;
  }
}