.blog-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Adjust the height as needed */
  background-color: #ffffff; /* Adjust the background color as needed */
  padding: 20px; /* Add padding for smaller screens */
}

.blog-section {
  display: flex;
  align-items: center;
  position: relative; /* To position the button absolutely within the section */
  background-color: #F5F5F5; /* White background for the card */
  border-radius: 8px;
  max-width: 950px; /* Adjust the max width as needed */
  height: 350px;
  width: 100%;
  margin-top: -60px;
  flex-direction: row;
  padding-right: 10px;
}

.blog-image-container {
  flex: 1;
  padding-right: 20px;
}

.blog-image {
  margin-top: 5px;
  width: auto;
  max-width: 480px;
  height: 350px;
  border-radius: 8px; /* Optional: add some border radius */
}

.blog-text-container {
  flex: 1;
  text-align: left; /* Align text to the left */
}

.blog-text-container h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333; /* Adjust the text color as needed */
}

.blog-text-container p {
  margin-bottom: 10px;
  color: #666; /* Adjust the text color as needed */
}
.explore-btn{
  display: flex;
  flex-direction: row;
}
.blog-explore-link {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #007bff; /* Adjust the link color as needed */
  text-decoration: underline;
}

.blog-explore-link:hover {
  text-decoration: underline;
}

.blog-arrow-button {
  position: relative;
  background-color: #fff;
  border: 2px solid #ff0000;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 8px;
  width: 40px;
  height: 20px; /* Increased height to make the button square */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ff0000;
  font-size: 14px;
}

.blog-arrow-button i {
  margin-left: 2px; /* Adjust if needed to center the icon */
}

.blog-arrow-button:hover {
  background-color: #ff0000;
  color: #fff;
}

@media (max-width: 768px) {
  .blog-section {
    margin-top: 15%;
    flex-direction: column;
    height: auto;
    max-width: 90%;
  }

  .blog-image-container {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .blog-image {
    max-width: 100%;
    height: auto;
  }

  .blog-text-container {
    text-align: center; /* Center text for smaller screens */
  }
  .blog-explore-link{
    margin-left: 20px;
  }

  .blog-arrow-button {
    width: 40px;
    height: 20px;
  }

}

@media (max-width: 480px) {
  .blog-text-container h2 {
    font-size: 20px;
  }

  .blog-text-container p {
    font-size: 14px;
    margin-left: 10px;
  }
  .blog-explore-link{
    margin-left: 20px;
  }

  .blog-arrow-button {
    width: 40px;
    height: 20px;
  }
}
