.checkout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./assets/images/sensory.jpg'); /* Set the background image */
  background-size: 35%; /* Cover the entire background */
  background-position: left; /* Center the background image */
  background-repeat: no-repeat; /* Prevent repeating of background image */
  padding: 0 20px;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
  padding: 20px;
  border-radius: 10px;
  gap:20px;
  margin-left: 450px; /* Move the container to the right */
}

.guest-button, .account-button {
  background-color: #E26936;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 15px 250px;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}

.account-button {
  background-color: white;
  color: #E26936;
  border: 2px solid #E26936;
}

.login-link {
  font-size: 14px;
  color: #333;
}

.login-link a {
  color: #1e90ff;
  text-decoration: none;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Media Queries for responsiveness */

/* For tablets and below */
@media (max-width: 1200px) {
  .checkout-container {
    background-size: 50%; /* Adjust the background size */
    background-position: top; /* Adjust background position */
    flex-direction: column;
  }

  .options-container {
    margin-top: 30%;
    margin-left: 0; /* Center the options container */
    width: 80%; /* Adjust width */
    padding: 10px; /* Adjust padding */
  }

  .guest-button, .account-button {
    padding: 15px 100px; /* Adjust button padding */
    font-size: 14px; /* Adjust font size */
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  .checkout-container {
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background */
  }

  .options-container {
    width: 100%; /* Full width */
    padding: 10px; /* Adjust padding */
  }

  .guest-button, .account-button {
    margin-top: 10px;
    margin-bottom: -10px;
    padding: 15px 50px; /* Adjust button padding */
    font-size: 14px; /* Adjust font size */
  }
}

/* For small mobile devices */
@media (max-width: 480px) {
  .guest-button, .account-button {
    padding: 10px 20px; /* Adjust button padding */
    font-size: 12px; /* Adjust font size */
    width: 100%; /* Full width buttons */
  }

  .login-link {
    font-size: 12px; /* Adjust font size */
  }
}
