  /* ProductSlider.css */

  .slider-container {
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }

  .slider-title{
    font-family: 'Poppins',serif;
    font-size: 2.2em;
    color: #545455;;
  }

  .slider-description {
    font-family: 'Neue Machina0', sans-serif;
    font-weight: bold;
    font-size: 1em;
    margin-top: -0.8em;
    margin-bottom: 1.5em;
    color: #545455;
  }

  .slides {
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  .slides:hover {
    transform: scale(1.05);
  }
  .slides-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
  }

  .slides-overlays {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 80%;
    height: 93%;
    padding: 10px;
    color: white;
    text-align: left;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0)); /* Gradient background */
    border-radius: 10px 10px 10px 10px; /* Match the border-radius of the image */
    display: flex; /* Add this */
    align-items: flex-end; /* Align to baseline */
  }
  
  .slides-overlay-text {
    width: 100%;
  }
  .slides-overlay-text h2{
    font-family: 'Poppins',serif;
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #fff;
  }



  .slides-overlay-text .product-price {
    font-family: 'Poppins',serif;
    font-size: 1em;
    margin: 5px 0 0;
  }

  .slides-overlay-text .start-price{
    font-family: 'Poppins',serif;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
  }
  .custom-arrow {
    z-index: 1;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    border: solid 1px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
    transition: background-color 0.3s ease;
  }

  .custom-arrow-next {
    right: -40px; /* Adjust the right position */
  }

  .custom-arrow-prev {
    left: -40px; /* Adjust the left position */
  }

  .custom-arrow-next:before {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
    transform: rotate(45deg); /* Rotate borders 45 degrees to the right */
    position: absolute;
    top: 20%;
    left: 20%;
    transform-origin: center center; /* Set transform origin to center */
  }

    .custom-arrow-prev:before {
      content: '';
      width: 10px;
      height: 10px;
      border-left: 2px solid rgb(0, 0, 0);
      border-bottom: 2px solid rgb(0, 0, 0);
      transform: rotate(45deg); /* Rotate borders 45 degrees to the right */
      position: absolute;
      top: 20%;
      left: 35%;
      transform-origin: center center; /* Set transform origin to center */
    }
  .custom-arrow:hover {
    background-color: rgba(0, 0, 0, 0.282); /* Darken the background on hover */
  }


  .slides-overlay {
    margin: 10px 0 0 10px;
  }

  .slides-overlay-text{
    margin-top: 130px;
  }
  @media (max-width: 1200px) {
    .custom-arrow-next {
      right: -20px; /* Adjust the right position */
    }
  
    .custom-arrow-prev {
      left: -20px; /* Adjust the left position */
    }
    .custom-arrow-next:before {
      top: 20%;
      left: 15%;
    }
  
      .custom-arrow-prev:before {
        top: 20%;
        left: 35%;
      }
  }
  @media (max-width: 800px) {
    .custom-arrow-next {
      right: -20px; /* Adjust the right position */
    }
  
    .custom-arrow-prev {
      left: -20px; /* Adjust the left position */
    }
    .custom-arrow-next:before {
      top: 20%;
      left: 15%;
    }
  
      .custom-arrow-prev:before {
        top: 20%;
        left: 35%;
      }
  }

  @media (max-width: 480px) {
    .custom-arrow-next {
      right: -20px; /* Adjust the right position */
    }
  
    .custom-arrow-prev {
      left: -20px; /* Adjust the left position */
    }
    .custom-arrow-next:before {
      top: 20%;
      left: 15%;
    }
  
      .custom-arrow-prev:before {
        top: 20%;
        left: 35%;
      }
  }
  @media (min-width:1800px) {
    .slides{
      width: 450px;
      height: 420px;
    }
    .slides-image{
      margin-top: 10px;
        height: 340px;
      
    }
    .slides-overlays {
     
      bottom: 58px;
      left: 10px;
      width: 80%;
      height: 81%;
      padding: 10px;
      color: white;
      text-align: left;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0)); /* Gradient background */
      border-radius: 10px 10px 10px 10px; /* Match the border-radius of the image */
      display: flex; /* Add this */
      align-items: flex-end; /* Align to baseline */
    }
    
    .slides-overlay-text {
      width: 100%;
    }
    .slides-overlay-text h2{
      font-family: 'Poppins',serif;
      font-size: 2em;
      margin-bottom: 1em;
      margin-left: 20px;
      color: #fff;
    }
  
  
  
    .slides-overlay-text .product-price {
      font-family: 'Poppins',serif;
      font-size: 1.7em;
      margin: 30px 20px ;
    }
  
    .slides-overlay-text .start-price{
      font-family: 'Poppins',serif;
      font-size: 1.2em;
      color: rgb(255, 255, 255);
    }

  }