
.add-course-form button[type="submit"] {
    padding: 12px 24px;
    background-color: #E26936;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.add-course-form button[type="submit"]:hover {
    background-color: #c05a2b;
}

.banner-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.banner-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}

.banner-box img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.banner-info {
    margin-top: 10px;
}

.banner-info h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.edit-banner-button, .delete-banner-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
    font-size: 0.8em;
    margin: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.edit-banner-button:hover, .delete-banner-button:hover {
    color: #0056b3;
}
.confirm-popup-overlay {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Just below the popup */
}

.confirm-popup {
    position: fixed; /* Ensure it stays in place relative to the viewport */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset by half of its own width and height */
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it's on top of other elements */
}


/* Confirm popup button styles */
.confirm-popup button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.confirm-popup button:hover {
    background: #0056b3;
}

.confirm-popup button:last-of-type {
    background: #ccc;
}

.confirm-popup button:last-of-type:hover {
    background: #999;
}

@media (max-width: 768px) {
    .add-course-form-container {
        padding: 15px;
        width: 100%;
    }

    .add-course-form {
        width: 100%;
        padding: 10px;
    }

    .add-course-group {
        flex-direction: column;
    }

    .banner-list {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media (max-width: 480px) {
    .add-course-form-header h2 {
        font-size: 1.2em;
    }

    .banner-list {
        grid-template-columns: 1fr;
    }
}