.event-details {
  display: flex;
  margin-top: 0px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 20px;
}
.events-details {
  display: flex;
  flex-direction: row;
  align-items: left;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(232, 67, 21, 0.2);
  margin: 20px auto;
  width: 90%;
  max-width: 1000px;
}

.event-descrep{
  margin-left: 50px;
  max-width: 500px;
}

.event-details h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #E26936;
}

.event-details img {
  width: auto;
  max-width: 800px;
  height: auto;
  max-height: 500px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.event-details p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #666;
}

.event-details h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #555;
}
.event-detail{
margin-top: 120px;
}
#book-now {
  background-color: #E26936;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}
/* Popup notification styles */
.c-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000b4;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  font-size: 1rem;
  width: 250px;
}
.c-popup p{
  color: #fff;
  padding: 10px 10px 0 0;
  text-align: center;
}

#book-now i {
  margin-right: 8px;
}

#book-now:hover {
  background-color: #9b4925;
}

.booking-form {
  width: 90%;
  max-width: 900px;
  justify-content: center;
  padding: 20px;
  
}
.booking-form-details{
}
.booking-form label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #555;
}

.booking-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 30px;
  font-size: 1.2rem;
  max-width: 1000px;
  transition:all 0.5s ease;
}

.booking-form input:hover {
  border: 1px solid #E26936;
}
.booking-form input:active,
.booking-form input:focus {
  outline: none; /* Remove default focus outline */

  border: 1px solid #E26936;
  box-shadow: 0 0 5px rgba(226, 105, 54, 0.5);
}


@media (max-width:900px) {
  .event-details {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    
  }

  .booking-form-details{
    padding: 20px;
  }
  .events-details{
    flex-direction: column;
    max-width: 800px;
  }
  
  .side-by-side{
    flex-direction: column;
  }
  
}