.footer {
  background-color: #363849;
  color: #ffffff;
  padding: 100px 70px 70px 70px;
  font-family: 'Neue Machina', sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-image {
  height: 80px;
  width: auto;
}

.footer-nav {
  display: flex;
}

.footer-nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 11px;
}

.separator {
  color: #ffffff;
  font-size: 11px;
}

.footer-social {
  display: flex;
  gap: 15px;
}

.footer-social a {
  color: #ffffff;
  font-size: 36px;
}

.footer-social a:hover {
  color: #83d0fa;
}

.footer-copyright {
  text-align: center;
  font-size: 9px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .footer {
    padding: 50px 40px 40px 40px;
  }

  .footer-content {
    flex-direction: column;
    gap: 20px;
  }

  .footer-nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-social {
    justify-content: center;
  }
}