.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 100px 80px 80px 80px;
  font-family: 'Neue Machina', sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer-logo-image {
  height: 80px;
  width: auto;
}

.footer-center {
  text-align: center;
}

.footer-links {
  margin-bottom: 3px;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 11px;
  font-family: 'Neue Machina', sans-serif;
}

.footer-link-separator {
  margin: 0 3px;
  font-size: 11px;
}

.footer-copyright {
  font-size: 9px;
  font-family: 'Neue Machina', sans-serif;
}

.footer-social-icons {
  font-size: 3.5em;
  display: flex;
  gap: 10px;
  padding-bottom: 40px;
  justify-content: center;
}

.footer-social-link {
  color: #ffffff;
  text-decoration: none;
}

.footer-social-link box-icon {
  width: 18px;
  height: 18px;
  fill: white;
}

.poster-uploader-logo {
  margin-right: 20px;
  cursor: pointer;
}

.poster-uploader-logo-image {
  width: auto;
  height: 100px;
  background-color: transparent;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .footer-logo,
  .footer-center,
  .footer-social-icons {
    margin-bottom: 10px;
  }

  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-link,
  .footer-link-separator {
    margin: 2px;
  }
}


.chatbot-container {
  position: fixed;
  bottom: 30px;
  right:100px;
  width: 280px;
  height: 100%;
  max-height: 600px;
  z-index: 10000;
  background-color: transparent; 
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.chatbot-container.show {
  transform: translateX(0);
}

.chatbot-container.hide {
  transform: translateX(100%);
}

@media (max-width: 768px) {
  .chatbot-container {
    width: calc(100% - 20px);
    height: auto;
    bottom: 0;
    right: 10px;
    left: 10px;
    top: unset;
  }
}