.home-header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    padding: 0 20px;
}

.home-logo img {
    height: 100px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 50px;
    padding: 5px;
    flex: 1;
    margin-left: 10%;
    max-width: 940px;
    border-style: solid;
    border-color: #acb6c35c;
    border-width: 2px;
}
.search-item input{
    opacity: 0.5;
}
.search-items {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
}

.search-item label {
    transition: opacity 0.3s ease;
    opacity: 1;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins',serif;
    color: #1a1a73db;
    margin-bottom: 2px;
}
.search-item:not(.active) label {
    opacity: 0.5;
}
.search-bar input {
    border: none;
    background: transparent;
    font-size: 15px;
    width: 100%;
    outline: none;
    cursor: text;

}

.search-bar .divider {
    width: 1px;
    height: 50px;
    background-color: #ddd;
}

.search-bar .search-button {
    background-color: #bcbebf;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
}



.search-item.active input {
    font-weight: medium;
}

.search-item input:disabled {
    opacity: 0.5;
}

.search-bar-toggle {
    display: none;
    cursor: pointer;
    padding: 10px;
}
@media (max-width: 1400px) {
    .search-bar{
        margin-left: 220px;
        max-width: 600px;
    }

}
@media (max-width: 1080px) {
    .search-bar{
        margin-left: 100px;
        max-width: 600px;
    }

}
@media (max-width: 950px) {
    .search-bar{
        margin-left: 50px;
        max-width: 500px;
    }

}


@media (max-width: 768px) {
    .search-bar {
        position: relative;
        padding: 0;
    }

    .search-bar-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .search-items {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin-top: 10px;
        background-color: #f8f8f8;
        flex-direction: column;
        border-radius: 0 0 30px 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .search-bar.expanded .search-items {
        display: flex;
    }

    .search-item {
        width: 100%;
        padding: 10px;
    }

    .search-bar .divider {
        width: 100%;
        height: 1px;
    }

    .search-bar .search-button {
        margin: 10px auto;
    }
}

@media (max-width: 480px) {
    .header-content {
        padding: 0 5px;
        width: 90%;
        gap: 20px;
    }

    .home-logo img {
        height: 70px;
    }
}