.intro-search {
  background: linear-gradient(90deg, #5de0e6, #004aad);
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  margin: 60px 100px 40px 100px;
}

.intro-content {
  margin-bottom: 10px;
  width: 100%;
  max-width: 800px;
}

.intro-title {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  color: white;
  font-weight: 500;
}

.intro-subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  margin-top: -12px;
  color: white;

  opacity: 0.8;
}

.search-container {
  position: relative;
  width: 100%;
  max-width: 800px;
}

.intro-search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  padding: 20px 50px;
  width: 100%;
  margin-left: -30px;
  max-width: 700px;
  min-width: 500px;
  height: 90px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.search-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.search1-option {
  flex: 1;
  /* or use a fixed width, e.g., width: 120px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin-left: -20px;
  position: relative;
  /* For positioning dropdowns */
  padding: 10px;
  min-width: 180px;
  /* Set a fixed width to keep the layout consistent */
}

.search4-option {
  flex: 1;
  /* or use a fixed width, e.g., width: 120px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin-left: -20px;
  position: relative;
  /* For positioning dropdowns */
  padding: 10px;
  min-width: 160px;
  /* Set a fixed width to keep the layout consistent */
}

.search1-options {
  flex: 1;
  /* or use a fixed width, e.g., width: 120px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  position: relative;
  /* For positioning dropdowns */
  padding: 10px;
  min-width: 120px;
  /* Set a fixed width to keep the layout consistent */
}


.search1-option.active,
.search4-option.active {
  font-weight: 600;
  color: #000;
}

.separator-log {
  color: rgba(0, 0, 0, 0.702);
}

.intro-search-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: -20px;

}

.dropdown ul,
.dropdown2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.sss {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-search-icon {
  width: 40px;
  height: 40px;
  color: #333333ec;
  font-weight: bolder;
}

.search1-option {
  margin-top: 0px;
}

.search4-option {
  margin-top: 18px;
}

.search1-options {
  font-size: 18px;
  margin-top: 10px;
}

.sss {
  margin-bottom: 10px;
}

.search4-option p {
  font-size: 18px;
}

.search1-option p,
.search1-options p {
  font-size: 18px;
  margin: 0px 0px 0px 0px;
}

.search1-option h4,
.search1-options h4,
.search4-option h4 {
  font-size: 12px;
  margin: 0px 30px 0px 0px;
}

.search1-option .fa-chevron-down,
.search1-options .fa-chevron-down {
  margin-left: 10px;
  font-weight: bolder;
  margin-right: -5px;
}

.separator-log {
  font-size: 26px;
  margin: 10px 0px 0px 0px;
}

.dropdown {
  position: absolute;
  top: 70%;
  left: 3%;
  width: 100%;
  font-size: 16px;
  background-color: #ffffff8a;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  /* For Safari support */
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  margin-top: 10px;
  padding: 10px 20px;
}

.dropdown2 {
  position: absolute;
  top: 70%;
  left: 10%;
  width: 100%;
  font-size: 16px;
  background-color: #ffffff8a;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  /* For Safari support */
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  margin-top: 10px;
  padding: 10px 20px;
}


.calendar-dropdown {
  position: absolute;
  top: 70%;
  left: 50px;
  width: 60%;
  border-radius: 10px;
  z-index: 1001;
  margin-top: 10px;
  padding: 10px 20px;
}

.calendar-dropdown2 {
  position: absolute;
  top: 70%;
  left: 30%;
  width: 55%;
  border-radius: 10px;
  z-index: 1001;
  margin-top: 10px;
  padding: 10px 20px;
}

.dropdown-item {
  padding: 10px 0;
  cursor: pointer;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.age-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.age-input-container button {
  background-color: #f0f0f0;
  border: none;
  color: #333;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
}


.age-input {
  width: 60px;
  padding: 5px;
  border: none;
  text-align: center;
  font-size: 16px;
}

.custom-cal {
  background: rgba(255, 255, 255, 0.534) !important;
  /* Semi-transparent background */
  backdrop-filter: blur(10px) !important;
  /* Blur effect for the glass look */
  -webkit-backdrop-filter: blur(5px) !important;
  /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  /* Border to define edges */
  border-radius: 10px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  /* Subtle shadow for depth */
  padding: 10px !important;
  color: #ffffff !important;
}

@media(min-width:1800px) {
  .intro-search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    padding: 20px 50px;
    width: 100%;
    margin-left: -5px;
    max-width: 1000px;
    min-width: 820px;
    height: 100px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .calendar-dropdown2 {
    margin-left: 70px;
  }
}

@media (min-width: 1800px) {
  .search-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search1-option {
    flex: 1;
    /* or use a fixed width, e.g., width: 120px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin-left: -20px;
    position: relative;
    /* For positioning dropdowns */
    padding: 10px;
    min-width: 220px;
    /* Set a fixed width to keep the layout consistent */
  }

  .search4-option {
    flex: 1;
    /* or use a fixed width, e.g., width: 120px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    margin-left: -20px;
    position: relative;
    /* For positioning dropdowns */
    padding: 10px;
    min-width: 200px;
    /* Set a fixed width to keep the layout consistent */
  }

  .search1-options {
    flex: 1;
    /* or use a fixed width, e.g., width: 120px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    position: relative;
    /* For positioning dropdowns */
    padding: 10px;
    min-width: 150px;
    /* Set a fixed width to keep the layout consistent */
  }


  .intro-search-button {
    margin-left: -20px;
  }

  .dropdown ul,
  .dropdown2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
    transition: background 0.2s ease;
  }

  .dropdown-item:hover {
    background-color: #f0f0f0;
  }

  .sss {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro-search-button {
    padding: 10px;
  }

  .intro-search {
    padding: 50px;
    gap: 8%;
    border-radius: 10px;
    margin: 60px 140px 40px 140px;
  }

  .search1-option {
    margin-top: 0px;
  }

  .search4-option {
    margin-top: 15px;
  }

  .search1-options {
    font-size: 23px;
    margin-top: 10px;
  }

  .sss {
    margin-bottom: 10px;
  }

  .search1-option p,
  .search1-options p,
  .search4-option p {
    font-size: 23px;
    margin: 0px 0px 0px 0px;
  }

  .search1-option h4,
  .search1-options h4,
  .search4-option h4 {
    font-size: 16px;
    margin: 0px 30px 0px 0px;
  }

  .search1-option .fa-chevron-down,
  .search1-options .fa-chevron-down {
    margin-left: 10px;
    font-weight: bolder;
  }

  .separator-log {
    font-size: 26px;
    margin: 10px 0px 0px 0px;
  }

  .intro-search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    padding: 20px 50px;
    width: 105%;
    max-width: 1000px;
    min-width: 820px;
    height: 100px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .intro-title {
    font-size: 38px;
    font-weight: 500;
  }

  .intro-subtitle {
    font-size: 14px;
    margin-top: -12px;
  }

  .dropdown {
    left: 3%;
    width: 100%;
    font-size: 16px;
  }

  .dropdown2 {
    left: 10%;
    width: 100%;
    font-size: 16px;

  }

  .calendar-dropdown {
    width: 70%;
    left: 16%;
  }

  .calendar-dropdown2 {
    width: 70%;
    left: 30%;
  }
}

@media (max-width: 1500px) {
  .intro-search {
    gap: 50px;
  }

  .intro-search-bar {
    max-width: 550px;
    min-width: 550px;
  }

  .search1-option p,
  .search1-options p,
  .search4-option p {
    font-size: 16px;
    margin: 0px 0px 0px 0px;
  }

  .search1-option h4,
  .search1-options h4,
  .search4-option h4 {
    font-size: 10px;
    margin: 0px 30px 0px 0px;
  }

  .search1-option .fa-chevron-down,
  .search1-options .fa-chevron-down {
    margin-left: 8px;
    font-weight: bolder;
  }

  .separator-log {
    font-size: 20px;
    margin: 0px 0px 0px 0px;
  }

  .search1-option {
    min-width: 150px;
  }

  .search1-options {
    margin-top: 0px;
    font-size: 16px;
    min-width: 70px;
  }

  .search4-option {
    margin-top: 10px;
    min-width: 130px;
  }

  .intro-search-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    color: #333333ec;
    font-weight: bolder;
  }

  .calendar-dropdown {
    margin-left: -60px;
    width: 80%;
  }

  .calendar-dropdown2 {
    margin-left: -40px;
    width: 80%;

  }
}

@media (max-width: 1250px) {
  .intro-search {
    gap: 20px;
    flex-direction: column;
  }

  .search-container {
    margin-left: 300px;
  }

  .calendar-dropdown {
    margin-left: -40px;
  }

  .calendar-dropdown2 {
    margin-left: -100px;
  }

}

@media (max-width: 1080px) {

  .search-container {
    margin-left: 280px;
  }

  .calendar-dropdown {
    margin-left: -40px;
  }

  .calendar-dropdown2 {
    margin-left: -100px;
  }

}

@media (max-width: 1050px) {

  .search-container {
    margin-left: 260px;
  }
}

@media (max-width: 1020px) {
  .search-container {
    margin: 0 auto;
    /* Centers the container horizontally */
    display: block;
    /* Ensures that the container behaves as a block-level element */
  }
}


/* 

@media (max-width: 980px) {

  .search-container {
    margin: 0 30px 0 30px;

  }

  .separator-log {
    font-size: 16px;
    margin: 10px 10px 0 10px;
  }

  .calendar-dropdown {
    width: 50%;
    left: 16%;
  }

  .calendar-dropdown2 {
    width: 50%;
    left: 28%;
  }

  .intro-title {
    font-size: 24px;
  }

  .intro-subtitle {
    font-size: 12px;
  }

  .intro-search {
    gap: 50px;
  }

  .intro-search-bar {
    max-width: 500px;
    min-width: 400px;
  }

  .search1-option p,
  .search1-options p,
  .search4-option p {
    font-size: 14px;
    margin: 0px 0px 0px 0px;
  }

  .search1-option h4,
  .search1-options h4,
  .search4-option h4 {
    font-size: 10px;
    margin: 0px 30px 0px 0px;
  }

  .search1-option .fa-chevron-down,
  .search1-options .fa-chevron-down {
    margin-left: 3px;
    font-weight: bolder;
  }

  .separator-log {
    font-size: 20px;
    margin: 0px 0px 0px 0px;
  }

  .search1-option {
    margin-left: -10px;
    min-width: 130px;
  }

  .search1-options {
    margin-top: 0px;
    font-size: 14px;
    min-width: 20px;
  }

  .search4-option {
    margin-top: 10px;
    min-width: 120px;
  }

  .intro-search-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    color: #333333ec;
    font-weight: bolder;
  }

} */

@media (max-width: 800px) {


  .calendar-dropdown {
    width: 50%;
    left: 16%;
  }

  .calendar-dropdown2 {
    width: 50%;
    left: 28%;
  }

  .intro-title {
    font-size: 24px;
  }

  .intro-subtitle {
    font-size: 12px;
  }

  .intro-search {
    gap: 50px;
  }

  .intro-search-bar {
    max-width: 600px;
  }

  .search1-option p,
  .search1-options p,
  .search4-option p {
    font-size: 14px;
    margin: 0px 0px 0px 0px;
  }

  .search1-option h4,
  .search1-options h4,
  .search4-option h4 {
    font-size: 10px;
    margin: 0px 30px 0px 0px;
  }

  .search1-option .fa-chevron-down,
  .search1-options .fa-chevron-down {
    margin-left: 3px;
    font-weight: bolder;
  }

  .separator-log {
    font-size: 16px;
    margin: 0px 0px 0px 0px;
  }

  .search1-option {
    margin-left: -30px;
    min-width: 130px;
  }

  .search1-options {
    margin-top: 0px;
    font-size: 14px;
    min-width: 20px;
  }

  .search4-option {
    margin-top: 10px;
    min-width: 110px;
  }

  .intro-search-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    color: #333333ec;
    font-weight: bolder;
  }

}

@media (max-width: 760px) {


  .calendar-dropdown {
    width: 50%;
    left: 16%;
  }

  .calendar-dropdown2 {
    width: 50%;
    left: 28%;
  }

  .intro-title {
    font-size: 24px;
  }

  .intro-subtitle {
    font-size: 12px;
  }

  .intro-search {
    gap: 50px;
  }

  .intro-search-bar {
    max-width: 400px;
  }

  .search1-option p,
  .search1-options p,
  .search4-option p {
    font-size: 14px;
    margin: 0px 0px 0px 0px;
  }

  .search1-option h4,
  .search1-options h4,
  .search4-option h4 {
    font-size: 10px;
    margin: 0px 30px 0px 0px;
  }

  .search1-option .fa-chevron-down,
  .search1-options .fa-chevron-down {
    margin-left: 3px;
    font-weight: bolder;
  }

  .separator-log {
    font-size: 16px;
    margin: 0px 0px 0px 0px;
  }

  .search1-options {
    margin-top: 0px;
    font-size: 14px;
    min-width: 20px;
  }

  .search4-option {
    margin-top: 10px;
    min-width: 110px;
  }

  .intro-search-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    color: #333333ec;
    font-weight: bolder;
  }

}

@media (max-width:640px) {
  .dropdown {
    left: 10%;
    width: 30%;
  }

  .dropdown2 {
    left: 60%;
    width: 30%;
  }

  .calendar-dropdown {
    width: 80%;
    left: 0%;
  }

  .calendar-dropdown2 {
    width: 80%;
    left: 17%;
  }
}

@media (max-width:430px) {
  .dropdown {
    left: 5%;
    width: 35%;
  }

  .dropdown-item {
    font-size: 10px;
  }

  .dropdown2 {
    left: 55%;
    width: 35%;
  }

  .calendar-dropdown {
    width: 120%;
    left: -20%;
  }

  .calendar-dropdown2 {
    width: 110%;
    left: 0%;
  }
}

@media (max-width:480px) {

  .search1-option1,
  .search1-options,
  .search4-option {
    font-size: 11px;
    margin: 10px 0px 0 0px;
  }

  .separator-log {
    font-size: 16px;
    margin: 10px 5px 0 5px;
  }

  .intro-search-icon {
    height: 20px;
    width: 20px;
    margin-right: 3px;
  }
}