/* .dropdown-menu {
    display:flex;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #067aee;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 160px;
    z-index: 1000;
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-menu div {
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .dropdown-menu div:hover {
    background-color: #e9ecef;
  } */








.header {
    background-color: white;
    margin-top: 10px;
    /* background-color: #d82323; */

}

.content {
    background-color: #F5F5F5;
    margin: 0 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 85px;
}


.sbar {
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    flex: 1;
    max-width: 1400px;
}

/* .item input {
} */

.items {
    display: flex;
    align-items: center;
    width: 100%;
}

.item {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px 60px;
}

.item label {
    transition: opacity 0.3s ease;
    opacity: 1;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', serif;
    color: #3880C4;
    font: weight 950px;
    ;
    margin-bottom: 2px;
}

.item:not(.active) label {
    opacity: 0.8;
}

.sbar input {
    border: none;
    background: transparent;
    font-size: 15px;
    width: 100%;
    outline: none;
    cursor: text;

}

.sbar .dividers {
    width: 1px;
    height: 60px;
    background-color: #8a8888;
}

.sbutton {
    color: #094887;
    background-color: #F5F5F5;
    /* background-color: rgb(172, 41, 41); */
    border: none;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 5%;
}

.item.active input {
    font-weight: medium;
}

.item input:disabled {
    opacity: 0.5;
}

@media (max-width: 1400px) {
    .sbar {
        margin-left: 220px;
        max-width: 600px;
    }

}

@media (max-width: 1080px) {
    .sbar {
        margin-left: 100px;
        max-width: 600px;
    }

}

@media (max-width: 950px) {
    .sbar {
        margin-left: 50px;
        max-width: 500px;
    }

}


@media (max-width: 768px) {
    .sbar {
        margin-right: 1%;
        position: relative;
        padding: 0;
    }

    /* .sbar-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    } */

    .items {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin-top: 10px;
        background-color: #f8f8f8;
        flex-direction: column;
        border-radius: 0 0 30px 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .sbar.expanded .items {
        display: flex;
    }

    .item {
        width: 100%;
        padding: 10px;
    }

    .sbar .dividers {
        width: 100%;
        height: 1px;
    }

    .sbar .sbutton {
        margin: 10px auto;
    }
}

@media (max-width: 480px) {
    .content {
        margin-right: 1%;
        padding: 0 5px;
        width: 90%;
        gap: 20px;
    }


    .sbar {
        margin-left: 2%;
    }
}