.shops-container {
  font-family: "Arial, sans-serif";
  background: url(./assets/images/img1.jpg) fixed;
  background-position: bottom right;

  background-size: cover;
  background-repeat: no-repeat;
  color: #333;
  width: 100%;
  min-height: 100vh;
  padding: 25px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shops-content {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 8px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 90%;
  max-width: 1200px;
}

.shops-content h1 {
  color: #e26936;
  margin-bottom: 20px;
  text-align: center;
}

.intro-text {
  color: #333;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  font-size: 1.1em;
}

.plan-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.plan-tile {
  background: transparent;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.plan-tile:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);

}

.plan-tile h2 {
  margin-bottom: 10px;
  color: #e26936;
}

.plan-items {
  display: flex;
  flex-direction: column;
}

.plan-item {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  padding: 15px;
  transition: all 0.3s ease;
  border: 2px solid #d27d5949;
}

.plan-item:hover {
  transform: translateY(-5px);
  background: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

}

.plan-item h3 {
  color: #e26936;
}

.plan-item ul {
  list-style-type: disc;
  margin-left: 20px;
  color: #666;
}

.hashtag {
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
  color: #333;
}

@media (max-width: 768px) {
  .plan-tiles {
    flex-direction: column;
    align-items: center;
  }

  .plan-tile {
    width: 80%;
    margin-bottom: 20px;
  }
  
}
