.badge-image{
  margin-top: 40px;
  text-align: center;
}
.badge-image img{
  width: 85%;
}

.top-providers {
  padding: 20px;
  text-align: center;
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
  margin-top: -30px;
}

.top-providers h2 {
  margin-bottom: 5px;
  font-family: 'Neue Machina2', sans-serif;
  font-size: 2.2em;
  color: #545455;
}

.top-providers p {
  margin-bottom: 20px;
  color: #666;
  font-family: 'Neue Machina0', sans-serif;
  font-weight: bold;
}

.logo-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.logo-slider {
  display: flex;
  justify-content: center; /* Center the images horizontally */
  transition: transform 0.5s ease;
}

.logo-slide {
  flex: 0 0 20%;
  max-width: 20%;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center; /* Center the image within the slide */
  align-items: center; /* Center the image vertically within the slide */
}

.logo-slide img {
  margin-top: 25px;
  max-width: 100%;
  height: 80px;
  object-fit: contain;
}

.provider-dots {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.provider-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #bbb;
}

.provider-dot.active {
  background-color: #555;
}

@media (max-width: 768px) {
  .top-providers {
    margin-top: 20%;
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .logo-slide {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
